<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Admin</h1>
    <p>Not implemented yet.</p>
    <p>作りたい管理機能一覧</p>
    <ul>
      <li>MongoDBのバックアップ</li>
      <li>MongoDBのリストア</li>
      <li>自動登録できないユーザーの登録</li>
      <li>ユーザーの削除</li>
      <li>ユーザー情報の編集</li>
      <li>(オントロジーのTurtleファイルなどのアップロード)</li>
    </ul>
    <p><a href="/">Back to the top page.</a></p>
  </body>
</html>
