<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>register</h1>
    <p>アカウント登録のページです。ここでの操作が上手くいかない場合で、
      複数のGoogleアカウントやYahoo! JAPAN IDでログインしているような場合は
      一度全てのアカウントでログアウトしてから試してみて下さい。
    </p>
    <ul>
      <li><a href="https://accounts.google.com/Logout">全てのGoogleアカウントをログアウト</a></li>
      <li><a href="https://accounts.yahoo.co.jp/profile">Yahoo! JAPANの登録情報ページでログアウト</a></li>
    </ul>
    <hr/>
    <p>自動登録が可能な場合は、以下の「Googleアカウントで自動登録」の
      リンクをクリックして下さい。</p>
    <ul>
      <li><a href="./google_login">Googleアカウントで自動登録</a></li>
    </ul>
    <p>すでに登録済みでGoogleアカウントでログインできるけど、Yahoo! JAPAN ID
      でもログインできるようにするには、以下の「Yahoo! JAPAN IDを登録」の
      リンクをクリックして下さい。</p>
    <ul>
      <li><a href="./yahoo_login">Yahoo! JAPAN IDを登録</a></li>
    </ul>
    
    <p>自動登録が許可されていない人は、以下の「GoogleアカウントのIDを調べる」と
      「Yahoo! JAPAN IDを調べる」のページを開き、そこで表示されたIDを
      管理者に伝えて下さい。</p>
    <ul>
      <li><a href="./google_sub_getter">GoogleアカウントのIDを調べる</a></li>
      <li><a href="./yahoo_sub_getter">Yahoo! JAPAN IDを調べる</a></li>
    </ul>
    <p><a href="/">Back to the top page.</a></p>
  </body>
</html>
