<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>register</h1>
    <p>本当はこのページでユーザーの自動登録ができるようにするつもりでしたが
      まだ実装できていません。ということで、以下の2つのリンク先でGoogleと
      Yahooにログインして出てきたsubという数値や記号と学籍番号の情報を
      管理者に連絡して登録してもらって下さい。</p>
    <p>ただし、Googleの方は個人で取ったアカウントとかではなく、
      大学から与えられたアカウントでログインしないといけないので、
      間違えないよう気をつけて下さい。</p>
    <ul>
      <li><a href="./google_sub_getter">Google</a></li>
      <li><a href="./yahoo_sub_getter">Yahoo</a></li>
    </ul>
    <p><a href="/">Back to the top page.</a></p>
  </body>
</html>
