<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Redirect to google or yahoo</h1>
    <p>Select one of below.</p>
    <p><a href="/auth/google/login?provider_session_uid=<%=provider_session_uid %>">Google</a></p>
    <p><a href="/auth/yahoo/login?provider_session_uid=<%=provider_session_uid %>">Yahoo</a></p>
  </body>
</html>
