<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Message</h1>
    <p>Message: <%=message %></p>
    <p><a href="/">Back to the top page.</a></p>
  </body>
</html>
