<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Top</h1>
    <p><a href="/auth/local/login">Local login</a></p>
    <p><a href="/auth/local/logout">Local logout</a></p>
  </body>
</html>
