<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Certificate was Registered</title>
  </head>
  <body>
    <h1>Certificate was Registered</h1>
    <p>証明書を登録しました。</p>
    <p><a href="/">Back to the top page.</a></p>
  </body>
</html>
