<!DOCTYPE html>
<html>
  <head>
    <title>logged in</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>logged in</h1>
    <p>The all your informations saved in this server are below.</p>
    <pre><%=userInfo%></pre>
    <p><a href="/">Back to the top page.</a></p>
  </body>
</html>
